# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
ENV/
env.bak/
ENV.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
**/settings.py

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
.Trash-*